.about{
    background: linear-gradient(126.97deg, #0069DF 11.95%, #004592 48.01%, #003979 59.46%, #002D5F 71.48%);
    border-radius: 40px;
    padding: 120px 0;
    margin: 60px 0;
}

.about h2{
    color: #FFFFFF;
    margin-bottom: 60px;
}
.about-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}
.about-item{
    background: #FFFFFF;
    border-radius: 28px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.about-item-1{
    grid-row: 1/4;
    grid-column: 1/3;
}
.about-item h4{
    color: #002046;
}
.about-item h3{
    color: #002046;
    max-width: 500px;
}
.about-item-2{
    grid-column: 3/4;
}
.about-item-3{
    grid-column: 4/5;
}
.about-item-4{
    grid-column: 3/5;
}
.about-item-5{
    grid-column: 3/5;
}

.about-item-1{
    padding: 40px;
}
.about-item-top{
    display: flex;
    gap: 24px;
    align-items: flex-start;
    margin-bottom: 35px;
}

.about-item-top p{
    font-size: 20px;
    color: #002046;
    margin-bottom: 20px;
}

.about-item-top img{
    width: 170px;
    flex-shrink: 0;
}

.about-swiper{
    width: 100%;
    margin-top: 55px;
}
.about-swiper .swiper-wrapper{
    height: auto;
}
.about-swiper .swiper-slide{
    width: 100%;
    height: unset;
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}
.about-swiper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-btns{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 12px;
}
.about-swiper .swiper-pagination-fraction{
    width: max-content;
    font-size: 20px;
    font-weight: 500;
    color: #FFADB3;
}
.swiper-pagination-current{
    color: #E10010;
}
.about-swiper .swiper-button-disabled svg path{
    stroke: #FFADB3;
}
.about-swiper-slide{
    position: relative;
}
.about-swiper-slide .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 182, 252, 0.2);
    z-index: 1;
}
.about-bottom-text{
    margin-top: 60px;
}
.about-bottom-text p{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
}
.about-link{
    display: none;
}

@media (max-width: 1920px) {
    .about{
        padding: 80px 0;
        margin: 20px 0;
    }
    .about-item-top{
        flex-direction: column-reverse;
    }
    .about-item-top img{
        width: 140px;
    }
    .about-item-top p{
        font-size: 20px;
    }
    .about-item-bottom{
        display: none;
    }
    .about-item-4{
        grid-column: 3/4;
    }
    .about-item-5{
        grid-column: 4/5;
    }
    .about-item h3{
        font-size: 20px;
    }
    .about-item:not(.about-item-1) p{
        font-size: 14px;
    }
    .about-link{
        grid-column: 3/5;
        border-radius: 20px;
        overflow: hidden;
        padding: 40px;
        background:  no-repeat 0/100% 100% url(../assets/imgs/about-link.png);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }
     .about-link h3{
        color: #002046;
        max-width: 345px;
     }
     .about-bottom-text{
        display: none;
     }
     
}

@media (max-width: 1200px) {
    .about-items{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .about-item-1{
        grid-column: 1/3;
        padding: 20px;
    }
    .about-item-2{
        grid-column: 1/2;
    }
    .about-item-3{
        grid-column: 2/3;
    }
    .about-item-4{
        grid-column: 1/3;
    }
    .about-item-5{
        grid-column: 1/3;
    }
   .about-link{
        grid-column: 1/3;
   }
   .about-link{
        display: none;
   }
}

@media (max-width: 767px) {
    .about-items{
        gap: 16px;
    }
    .about-item{
        min-height: 200px;
    }
    .about-item-top img{
        flex: unset;
        width: 170px;
        align-self: center;

    }
    .about-item-top p{
        font-size: 16px;
        margin-bottom: 12px;
    }
    .about-item h4{
        font-size: 20px;
        font-weight: 500;
        color: #002046;
    }
    .about-item-2{
        grid-column: 1/3;
    }
    .about-item-3{
        grid-column: 1/3;
    }

    
}

@media (max-width: 576px){
    .about{
        padding: 80px 0;
        border-radius: 20px;
        margin: 20px 0;
    }
    .about h2{
        margin-bottom: 30px;
    }
    .about-item-top{
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-bottom: 20px;
    }
    .about-swiper {
        margin-top: 32px;
    }
    .about-items{
        margin-bottom: 30px;
    }
    .about-item{
        border-radius: 12px;
    }
    .about-bottom-text p{
        font-size: 14px;
    }
}