.about-details{
    padding: 120px 0 60px;
}

.about-details-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 92px;
}

.about-details-content{
    width: 49%;
}

.about-details-content p{
    font-size: 24px;
    margin-bottom: 20px;
}
.about-details-content .about-swiper{
    margin-top: 100px;
}
.about-details-img{
    width: calc(50% - 92px);
    position: relative;
}
.about-details-img::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: -22px;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(171, 231, 255, 0.8) 95.67%);
    z-index: 1;
}
.about-details-img::before{
    content: '';
    position: absolute;
    top: -54px;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(171, 231, 255, 0.4) 95.67%);
    z-index: 1;
}
.about-details-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1920px) {
    .about-details{
        padding: 80px 0 40px;
    }
    .about-details-content p{
        font-size: 20px;
    }
    .about-details-img{
        margin-top: -30px;
        width: 583px;
        /* height: 598px; */
        flex-shrink: 0;
    }
    .about-details-img::before{
        top: 0;
        width: 80px;
        height: 80px;
    }
    .about-details-content{
        width: 65%;
    }
    .about-details-container{
        gap: 60px;
    }
}
@media (max-width: 995px) {
    .about-details-container{
        flex-direction: column;
    }
    .about-details-content{
        width: 100%;
    }
    .about-details-img{
        width: 100%;
    }
    .about-numbers-heading{
        flex-direction: column;
    }
    .about-numbers-heading h2{
        width: 100%;
    }
    .about-numbers-heading div{
        width: 100%;
    }
}

@media (max-width: 576px) {
    .about-details{
        padding: 40px 0 24px;
    }
    .about-details-content p{
        font-size: 16px;
    }
    .about-details-content .about-swiper{
        margin-top: 40px;
    }
    .about-details-container{
        gap: 20px;
    }
    .about-details-img::before{
        width: 60px;
        height: 60px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .about-details-img::after{
        width: 120px;
        height: 120px;
        left: -9px;
        bottom: -15px;
    }
}