.advantages{
    padding: 60px 0;
}
.advantages-heading {
    margin-bottom: 60px;
}
.advantages-heading p{
    max-width: 744px;
    font-size: 20px;
}

.advantages-content{
    padding-bottom: 65px;
    position: relative;
    min-height: 1318px;
}
.advantages-img{
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    overflow: hidden;
}
.advantages-img img{
    /* width: 100%; */
}
.advantages-swiper{
    max-width: 1135px;
    margin-left: auto;
    margin-right: 0;
}
.advantages-swiper-btns{
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.advantages-items{
    max-width: 1135px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    justify-content: end;
    gap: 24px;
    margin-left: auto;
}
.advantages-item{
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 0px rgba(0, 105, 223, 0.2);    
    border-radius: 20px;
    padding: 40px;
}
.advantages-icon{
    max-width: 100%;
    height: 80px;
    margin-bottom: 80px;
}
.advantages-icon img{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.advantages-item h4{
    padding-top: 20px;
    border-top: 1px solid rgba(0, 93, 197, 0.4);
}
@media (max-width: 1920px) {
    .advantages-heading{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 40px;
    }
    .advantages-img{
        display: none;
    }
}
@media (max-width: 1300px){
   .advantages-swiper{
       max-width: 740px;
   }
    
}
@media (max-width: 950px){
    .advantages-content{
        min-height: 830px;
        padding-top: 220px;
        padding-left: 8px;
    }

    .advantages-swiper{
        margin-top: auto;
    }
    .advantages-items{
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .advantages-img{
        display: block;
        height: 100%;
        width: 100%;
    }
    .advantages-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
}

@media (max-width: 767px){
    .advantages-items{
        /* grid-template-columns: 1fr; */
    }
    .advantages-item{
        padding: 20px;
    }
    .advantages-item p{
        overflow-wrap: anywhere;
        hyphens: auto;
    }
}

@media (max-width: 576px){
    .advantages{
        padding: 30px 0;
    }
    .advantages-heading{
        margin-bottom: 30px;
    }
    .advantages-heading p{
        font-size: 12px;
    }
    .advantages-items{
        grid-template-columns: 1fr;
    }
    .advantages-item{
        border-radius: 12px;
    }
    .advantages-icon{
        margin-bottom: 30px;
        height: 50px;
    }
    
}