.banner{
    padding: 40px 0;
    position: relative;
}
.banner-element-top{
    position: absolute;
    top: -37px;
    left: 0px;
    z-index: -1;
}
.banner-element-bottom{
    position: absolute;
    bottom: -450px;
    right: 0px;
    z-index: -1;
}
.banner-container{
    position: relative;
}
.banner-content{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 760px;
    width: 100%;
    border-radius: 40px;
    padding: 100px;
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(254.66deg, rgba(219, 243, 252, 0) 30.58%, #02A4E4 99.34%);

}

.banner-text{
    color: #fff;
    position: relative;
    z-index: 1;
}

.banner  .swiper-btn-next, 
.banner  .swiper-btn-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.banner  .swiper-btn-next{
    right: -53px;
}

.banner  .swiper-btn-prev{
    left: -53px;
}

@media (max-width: 1920px) {
    .banner{
        padding: 20px 0;
    }
    .banner-content{
        height: 680px;
        padding: 60px;
    }
 
}

@media (max-width: 1650px){
    /* .banner  .swiper-btn-next{
        right: 8px;
    }

    .banner  .swiper-btn-prev{
        left: 8px;
    } */
    
}

@media (max-width: 767px){
    .banner{
        padding: 20px 0;
    }
    .banner-content{
        height: 560px;
        padding: 20px;
        border-radius: 20px;
    }
    .banner-element-top,
    .banner-element-bottom{
        display: none;
    }
}
