.catalog{
    padding-bottom: 60px;
}
.products-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 40px;
    padding: 60px 0 0;
}
.products-item{
    border-radius: 20px;
    border: 1px solid #C7D2DE;
    background: #EFF6FF;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.products-item:hover h3{
    color: #005DC5;
}
.products-item-img{
    width: 100%;
    aspect-ratio: 490/360;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.products-item-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    
}
.products-item-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    flex-grow: 1;
}
.products-item-content  h3{
    margin-bottom: 0;
    transition: color .3s ease;
}
.products-item-content span{
    font-size: 20px;
    color: #8996A4;
    margin-top: auto;
}
.products-item-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.products-item-icons div{
    aspect-ratio: 1/1;
    width: calc(100% / 6 - 8px);
    border: 0.5px solid #002046;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.products-item-icons img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.products-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 20px 0;
}

.category-item {
    position: relative;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-item input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.category-item label {
    display: block;
    padding: 16px 28px;
    background: #EFF6FF;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin: 0;
    border-radius: 12px;
}

/* Стиль для выбранных чекбоксов */
.category-item input[type="checkbox"]:checked + label {
    background: #005DC5;
    color: #FFF;
   

    
}

.category-item input[type="checkbox"]:checked + label::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat center url(../assets/icons/cross.svg);
}

.category-item.all-products {
    background: linear-gradient(195.35deg, #DBF3FC 15.83%, rgba(171, 231, 255, 0.992157) 74.41%, #82DCFF 89.23%);
    color: #027EB1;
}

/* Стили для hover эффектов */
.category-item:not(:has(input:checked)):hover {
    background: #dbeafe;
}

.category-item:has(input:checked):hover {
    background: #004ba8;
}

.category-item.all-products:hover {
    background: linear-gradient(195.35deg, #c9e8f9 15.83%, rgba(156, 218, 240, 0.992157) 74.41%, #6fd4ff 89.23%);
}

@media (max-width: 1920px) {
    .catalog{
        padding-bottom: 40px;
    }
   .products-list{
        padding: 40px 0 28px;
        gap: 20px;
   }
   .products-item-icons{
    width: 280px;
   }
   .products-item-content h3{
    font-size: 24px;
   }
}
@media (max-width: 1195px){
    .products-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .products-item-content span{
        font-size: 16px;
    }
}
@media (max-width: 576px){
     .products-list{
        grid-template-columns: repeat(1, 1fr);
        padding-top: 20px;
        row-gap: 16px;
    }
    .products-item-img{
        aspect-ratio: 328/280;
        height: 280px;
    }
    .products-categories{
        gap: 8px;
    }
    .category-item label {
        padding: 10px 12px;
        font-size: 12px;
    }
  .category-item input[type="checkbox"]:checked + label::after{
        width: 12px;
        height: 12px;
    }
}
