.contacts{
    margin: 60px 0;
}
.contacts h4{
    color: #8996A4;
    white-space: nowrap;
}
.contacts-content{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 60px;
}

.contacts-content-left{
    width: calc(50% - 12px);
    min-height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts-mails{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.contacts-mails div{
    width: calc(50% - 12px);
    min-width: max-content;
}
.contacts-mails a{
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    color: #313131;
    
}
.contacts-content .socials-list a{
    background-color: #EFF6FF;
}
.contacts-content .socials-list a:hover{
    background-color: transparent;
}
.contacts-content-right{
    max-width: 491px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts-address h3 span{
    display: block;
}
.contacts-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 60px;
}
.contacts-card{
    min-height: 332px;
    height: 100%;
    border-radius: 20px;
    background: #EFF6FF;
    padding: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: background-position  .3s ease;
}
.contacts-card::after{
    content: '';
    position: absolute;
    width: 276px;
    height: 276px;
    top: -30px;
    right: -48px;
    background:no-repeat center/contain url(../assets/imgs//element.png);
    /* z-index: -1; */
    pointer-events: none;
}
.contacts-card-contacts{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    position: relative;
    z-index: 1;
}
.contacts-card h3{
    color: #002046;
    position: relative;
    z-index: 1;
}
.contacts-card .phone,
.contacts-card .mail{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    color: #002046;
    margin-top: 8px;
}
.contatcs-info{
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.contacts-requisites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}
.contacts-requisites h2{
    margin-bottom: 0;
}

.contacts-requisites p{
    color: #6F6F6F;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 20px;
}
.contacts-requisites p:last-child{
    margin-bottom: 0;
}
#map{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.map-icon-content{
    background-color: #FFF;
    width: max-content;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 80px;
}
@media (max-width: 1920px) {
    .contacts{
        margin: 40px 0;
    }
    .contacts-content-left{
        width: auto;
    }
    .contacts-mails h4{
        font-size: 20px;
    }
    .contacts-mails a{
        font-size: 24px;
    }
    .contacts-content{
        margin-bottom: 40px;
    }
    .contacts-content .socials-list{
        gap: 8px;
    }
    .contacts-content .socials-list a{
        padding: 9px 20px;
    }
    .contacts-content-right{
        max-width: 387px;
    }
    .contacts-address h3{
        font-size: 24px;
    }
    .contacts-cards{
        margin-bottom: 40px;
    }
    .contatcs-info{
        padding: 40px 0;

    }
    .contacts-requisites p{
        font-size: 20px;
        line-height: 120%;
    }
}
@media (max-width: 995px) {
    .contacts h4{
        font-size: 14px;
    }
    .contacts-mails a{
        font-size: 20px;
    }
    .contacts-address h3{
        font-size: 20px;
    }
    .contacts-content-left .socials-list{
        font-size: 12px;
    }
    .contacts-card .phone, .contacts-card .mail{
        font-size: 16px;
    }
    .contacts-card h3{
        font-size: 20px;
    }
    .contacts-card-contacts a svg{
        width: 15px;
        height: 16px;
    }
    .contacts-requisites p{
        font-size: 20px;
        margin-bottom: 12px;
    }
    .contacts-requisites .btn{
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .contacts-content{
        flex-direction: column;
        gap: 32px;
    }
    .contacts-content-left{
        width: 100%;
        min-height: auto;
    }
    .contacts-content-right{
        width: 100%;
    }
    .contacts-cards{
        grid-template-columns: 1fr;
    }
    .contacts-requisites{
        gap: 40px;
    }
    .contacts-requisites p{
        font-size: 16px;
        margin-bottom: 12px;
    }
    .contacts-card{
        min-height: 170px;
    }
    .contatcs-info{
        grid-template-columns: 1fr;
        gap: 32px;
    }
    #map{
        height: 400px;
        border-radius: 12px;
    }
}

@media (max-width: 576px) {
    .contacts{
        margin: 32px 0;
    }
    .contacts-content{
        margin-bottom: 32px;
    }
    .contacts-cards{
        margin-bottom: 40px;
    }
     .contacts-card{
        border-radius: 12px;
        padding: 20px;
    }
    .contacts-card-contacts{
        gap: 12px;
    }
    .contacts-card .phone, .contacts-card .mail {   
        letter-spacing: -1px;
    }
    .contacts-card::after{
        width: 200px;
        height: 200px;
        top: 0;
        right: -80px;
    }
    .contatcs-info{
        padding-top: 40px;
    }
    .contacts-requisites{
        gap: 32px;
    }
    .contacts-requisites .btn svg{
        width: 20px;
        height: 20px;
    }
    .contatcs-info{
        margin-bottom: 30px;
    }
}