.documents{
    padding: 60px 0;
}

.documents-heading{
    margin-bottom: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}
.documents-heading p{
    max-width: 792px;
}
.documents-swiper{
    margin-right: -200px;
}

.documents-swiper .swiper-slide{
    width: 100%;
    height: 1/1.45;
    border: 1px solid #1282FF;
    border-radius: 20px;
    overflow: hidden;
    transition: .3s ease;
    cursor: pointer;
}
.documents-swiper .swiper-slide:hover{
    box-shadow: 2px 2px 20px 0px #02A4E433;

}
.documents-swiper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
 .documents .swiper-pagination{
        display: none;
    }

@media (max-width: 1920px) {
    .documents{
        padding-bottom: 40px;
    }
    .documents-heading{
        margin-bottom: 40px;
    }
    .documents-swiper{
            margin-right: 0;
    }
}
@media (max-width: 576px){
   .documents{
        padding: 30px 0;
        position: relative;
   }
    .documents-heading{
        margin-bottom: 30px;
    }
    .documents-swiper{
        margin-right: 0px;
    }
    .documents-swiper .swiper-slide{
        border-radius: 12px;
    }
    .documents .swiper-btns{
       display: none;
    }
    .documents .swiper-pagination{
        display: flex;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
   
}