.feedback{
    padding: 60px 0;
    position: relative;
}
.feedback-element{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.feedback-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feedback-content{
    max-width: 618px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feedback-content-top{
    margin-bottom: 30px;
}
.feedback-content-top h2{
    margin-bottom: 23px;
}
.feedback-content-bottom{
    display: flex;
    align-items: flex-start;
    gap: 60px;
}
.feedback-contacts span{
    font-size: 20px;
    font-weight: 500;
    color: #8A8A8A;
}
.feedback-social span{
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #8996A4;
    margin-bottom: 12px;
}
.feedback-contacts a{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 32px;
    color: #313131;
    font-weight: 500;
    margin-top: 12px;
    line-height: 120%;
    white-space: nowrap;
}

.individual-options{
    display: flex;
    gap: 7px;
    margin-bottom: 20px;
}
.individual-options input{
    display: none;
}
.individual-options input:checked + label{
    background: #005DC5;
    color: #FFF;
}
.individual-options label{
    cursor: pointer;
    color: #8A8A8A;
    background: #EFF6FF;
    padding: 12px 20px;
    border-radius: 100px;
    color: #005DC5;
}
.personal-inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 60px;
}

.personal-inputs input,
.personal-inputs textarea{
    width: 100%;
    padding: 17px 20px;
    border: 1px solid rgba(137, 150, 164, 0.4);
    border-radius: 10px;
}

.personal-inputs input:first-child,
.personal-inputs input:nth-child(2){
    width: calc(50% - 12px);
}
.personal-inputs textarea{
    resize: none;
    height: 120px;
}


.feedback-form h4{
    color: #8A8A8A;
    margin-bottom: 20px;
}

.contact-choices{
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    margin-bottom: 60px;
}
.contact-choices label{
    margin-right: 40px;
    font-size: 24px;
    line-height: 140%;
    color: #313131;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.contact-choices input{
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #005DC5;
    border-radius: 50%;
    cursor: pointer;
}
.contact-choices input:checked{
    background-image: url(../assets/icons/radiobtn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
}


.feedback-submit{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.feedback-privacy{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.feedback-privacy span{
    color: #8A8A8A;
}
.feedback-privacy a{
    text-decoration: underline;
}
.feedback-privacy input{
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #BDBDBD;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
}
.feedback-privacy input:checked{
    background-image: url(../assets/icons/checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 10px;
}

#success-popup{
    display: none;


}
#success-popup.active{
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: auto;
}

.success-popup-content{
    max-width: 640px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.success-popup-close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.success-popup-text{
    padding: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.success-popup-text h2{
    margin-bottom: 0;
}
.success-popup-text p{
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
    line-height: 140%;
}

@media (max-width: 1920px) {
    .feedback{
        padding: 40px 0 80px;
    }
}

@media (max-width: 1195px){

   .feedback-container{
       grid-template-columns: 1fr;
   }

}

@media (max-width: 576px){
    .feedback{
        padding: 40px 0;
    }
   .personal-inputs{
        gap: 12px;
        margin-bottom: 30px;
   }
    .personal-inputs input:first-child, .personal-inputs input:nth-child(2){
        width: 100%;
    }
    .contact-choices label{
        margin-right: 20px;
        font-size: 16px;
    }

    .feedback-submit{
        flex-direction: column;
    }
   
    .individual-options{
        flex-wrap: wrap;
        row-gap: 12px;
    }
    .individual-options label{
        flex-grow: 1;
        font-size: 12px;
    }
    .feedback-contacts span,
    .feedback-social span{
        font-size: 12px;
    }

      .feedback-social svg{
        width: 36px;
        height: 36px;
      }
    .feedback-contacts a{
        font-size: 16px;
        gap: 4px;
        margin-top: 8px;
    }
      .feedback-contacts svg{
        width: 16px;
        height: 16px;
      }
      .feedback-content-top p{
        font-size: 16px;
      }
      .feedback-element{
        width: 280px;
        height: 280px;
        bottom: unset;
        top: -68px;
        left: -120px;
      }
      .feedback-element img{
        width: 100%;
        height: 100%;
      }
      .feedback-privacy span{
        font-size: 12px;
        line-height: 120%;
      }

      .success-popup-img{
        height: 160px;
        width: 100%;
      }
      .success-popup-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .success-popup-close svg{
        width: 20px;
        height: 20px;
      }
    .success-popup-text{
        padding: 20px;
    }
    .success-popup-text p{
        font-size: 16px;
        max-width: 230px;
    }
    .success-popup-text p br{
        display: none;
    }
    .success-popup-text .btn{
        width: 100%;
    }
}
