.footer {
  background: #eff6ff;
  padding-top: 100px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.footer-top div {
  /* min-width: 350px; */
  /* width: 33%; */
  width: 491px;
}
.footer-top p {
  font-size: 24px;
  color: #8996a4;
  margin-bottom: 12px;
  line-height: 140%;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  gap: 50px;
  /* flex-wrap: wrap; */
}
.footer nav h3 {
  margin-bottom: 24px;
  color: #8996A4;
}
.footer nav ul {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #002046;
}
.footer nav ul li {
  margin-bottom: 20px;
}
.footer-catalog ul {
  display: grid;
  grid-template-columns: repeat(2, 233px);
  column-gap: 24px;
}
.footer-contacts {
  /* max-width: 491px; */
  width: 33%;
  /* min-width: 340px; */
}
.footer-contacts span {
  display: block;
  margin-bottom: 12px;
}
.footer-address {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #002046;
  letter-spacing: -0.04rem;
}
.footer-phones {
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid #c7d2de;
}
.footer-phones a {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #002046;
}
.socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 32px;
}
.socials-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 155px;
  padding: 12px 20px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}
.socials-list a:hover{
  background: transparent;
  border: 1px solid #C7D2DE;
}
.footer-bottom {
  padding: 40px 0;
  border-top: 1px solid #c7d2de;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  color: #8996a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.copyright {
  max-width: 491px;
}

.privacy-policy{
  width: 290px;
  flex-shrink: 0;
}
.privacy-policy a {
  display: block;
  margin-bottom: 8px;
}
.developer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 208px;
  flex-shrink: 0;
}
.developer p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  line-height: 140%;
  font-size: 14px;
}
.copyright span {
  display: block;
}


@media (max-width: 1920px){
  .footer{
    padding-top: 80px;
  }
    .footer-top{
      margin-bottom: 40px;
    }
  .footer-top p{
    font-size: 16px;
  }
  .footer-middle h3{
    font-size: 20px;
  }
  .footer-catalog ul{
    grid-template-columns: repeat(2, 181px);
  }
  .footer nav ul li{
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 19px;
  }
  .footer-address,
  .footer-phones a{
    font-size: 16px;
  }
  .footer-middle{
    position: relative;
    padding-bottom: 124px;
  }
  .footer .socials-list{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;
  }
  .footer .socials-list a{
    padding: 9px 20px;
  }
  .copyright{
    max-width: 382px;
    letter-spacing: -1px;
  }
  .footer-bottom{
    padding-left: 40px;
  }
}

@media (max-width: 1400px){
  .footer nav ul li{
    margin-bottom: 12px;
  }
}
@media (max-width: 1100px) {
  .footer-top{
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
  }
  .footer-top div{
    width: 100% !important;
  }
  .footer-middle{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-contacts{
      width: 100% !important;
  }
    .footer-bottom{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

@media (max-width: 576px){
  .footer{
    padding-top: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .footer .logo{
    max-width: 328px;

  }
  .footer .logo img{
    width: 100%;
  }
  .footer-top p{
    font-size: 12px;
    margin-bottom: 8px;
    line-height: 120%;
  }
  .footer-catalog ul{
    column-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer nav ul li{
    font-size: 14px;
  }
  .socials-list{
    font-size: 12px;
    gap: 8px;
  }
  .socials-list a{
    width: calc(50% - 5px);
    padding: 8px;
    border-radius: 4px;
    flex-grow: 1;
    gap: 4px;
  }
   .socials-list a svg{
    width: 16px;
    height: 16px;
   }
}
