.geography{
    margin: 60px 0;
    padding: 60px 0;
    background: #EFF6FF;
    min-height: 990px;
    border-radius: 40px;
    overflow: hidden;
}
.geography-container{
    position: relative;
}
.geography-content{
    max-width: 619px;
    /* min-height: 870px; */
    padding-bottom: 214px;
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, #EFF6FF 0%, rgba(239, 246, 255, 0.9) 60.1%, rgba(239, 246, 255, 0.4) 90.38%, rgba(239, 246, 255, 0) 100%);

}
.geography-content p{
    font-size: 24px;
    line-height: 140%;
}
.geography-list{
    margin: 60px 0;
    font-size: 24px;
    color: #8996A4;
     line-height: 140%;
}
.geography-list-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
    margin-bottom: 12px;
}
.geography-list-item div{
    padding: 8px 12px;
}
.geography-map{
    width: 1180px;
    height: 750px;
    position: absolute;
    left: 480px;
    top: 50%;
    transform: translateY(-50%);
}
.geography-map img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1920px) {
    .geography{
        margin-top: 0;
        padding: 43px 0;
    }
    .geography-content{
        padding-bottom: 158px;
    }
}

@media (max-width: 767px) {
    .geography-map{
        width: 522px;
        height: 332px;
        left: 64px;
    }
}

@media (max-width: 576px) {
    .geography{
        padding: 40px 0 0px;
        margin: 40px 0;
        border-radius: 20px;
        min-height: 540px;
    }
    .geography-content p{
        font-size: 16px;
    }
    .geography-list{
        margin: 32px 0;
        font-size: 16px;
    }
    .geography-list-item{
        margin-bottom: 0;
    }
    .geography-list-item div{
        padding: 8px 4px;
    }
     .geography-list-item > div:last-child{
        font-size: 12px;
     }
     .geography-content{
        /* min-height: auto; */
        padding-bottom: 120px;
        padding-right: 40px;
     }
    .geography-map{
        top: 168px;
        transform: unset;
    }

}