
.header{
	/* box-shadow: -4px 4px 12px 0px rgba(0, 32, 70, 0.2); */
	border-bottom: 1px solid #C7D2DE;
}
.header-top{
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	min-height: 120px;
}
.header-logo{
	width: 20%;
	min-width: 176px;
	max-height: 80px;
}
.header-logo img{
	width: 100%;
}
.header-search{
	width: 621px;
	background: #005DC5;
	border-radius: 8px;
	padding: 4px 8px 4px 4px;
}
.header-search form{
	display: flex;
	align-items: center;
	gap: 8px;
}
.header-search input{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	padding: 14px 20px;
	border-radius: 6px;
	font-size: 20px;
	font-weight: 400;

}
.header-search input::placeholder{
	color: #8A8A8A;
}
.header-search button{
	width: 33px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
}


.header-contacts{
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-weight: 500;
	font-size: 20px;
	color: #313131;
	margin-right: 20px;
}
.header-contacts a{
	white-space: nowrap;
	display: flex;
	align-items: center;
	gap: 4px;
}
.header-contacts a svg{
	width: 22px;
	height: 24px;
}

.header-social{
	width: 120px;
	margin-right: 20px;
	flex-shrink: 0;
	color: #8A8A8A;
}
.header-lang{
	margin-right: 20px;
}
.header-lang span{
	display: block;
	font-size: 20px;
	color: #313131;
}

.header-bottom{
	padding: 12px 0;

}
.header-menu{
	display: flex;
	align-items: center;
	gap: 40px;
	color: #313131;
	font-size: 20px;
	font-weight: 500;

}

.header-burger{
	flex-shrink: 0;
	width: 44px;
	height: 44px;
	background-color: #005DC5;
	border-radius: 4px;
	cursor: pointer;
	display: none;
	justify-content: center;
	align-items: center;
}


@media (max-width: 1130px){
	.header{
		border-bottom: none;
	}
	.header-contacts,
	.header-social,
	.language-switcher,
	.header-bottom{
		display: none;
	}
	.header-top{
		padding: 12px 0;
		min-height: 68px;
	}
	.header-burger{
		display: flex;
	}
	.header-search input{
		padding: 10px 20px;
	}
}


@media (max-width: 576px){
	.header-top{
		gap: 8px;
		padding: 8px 0;
	}
	.header-search{
		width: 44px;
		height: 44px;
		position: relative;
		margin-left: auto;
		background-color: #C7D2DE;
		border-radius: 4px;
	}
	.header-search input{
		display: none;
	}
	.header-search button{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.header-search svg{
		width: 24px;
		height: 24px;
	}
	
}