.header-catalog-burger{
    flex-shrink: 0;
	width: 60px;
	height: 60px;
	background-color: #005DC5;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}
.header-catalog-burger span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	flex-shrink: 0;
	width: 26px;
	height: 2px;
	border-radius: 2px;
	background-color: #fff;
	display: block;
    transition: all 0.3s ease-in-out;
}
.header-catalog-burger span:first-child{
	top: 24px;
}
.header-catalog-burger span:last-child{
	bottom: 24px;
}
.header-catalog-burger.active span:first-child{
	transform: translateX(-50%)  rotate(45deg);
    top: 28px;
}
.header-catalog-burger.active span:last-child{
	transform: translateX(-50%)  rotate(-45deg);
    bottom: 30px;
}
.header-catalog-dropdown{
    position: fixed;
    padding: 60px 0;
    background: #fff;
    top: 125px;
    width: 100vw;
    height: calc(100vh - 125px);
    right: -150%;
    z-index: 10;
    transition: right 0.3s ease-in-out;
    box-shadow: -4px 4px 12px 0px #00204633;
    overflow: auto;
}
.header-catalog-dropdown::-webkit-scrollbar {
        width: 5px; 
      }

.header-catalog-dropdown::-webkit-scrollbar-track {
        background: #E1E1E5; 
      }

.header-catalog-dropdown::-webkit-scrollbar-thumb {
        background-color: #8A8A8A; 

      }
.header-catalog-dropdown.show{
    right: 0;
}
.header-catalog-top{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 100px;
}
.header-catalog-top h3{
    margin-bottom: 24px;
}
.header-catalog-categories{
    max-width: 491px;
    min-width: 460x;
    flex-shrink: 0;
}
.header-catalog-categories .categories-list{
    grid-template-columns: 1fr 1fr;
}
.header-catalog-categories .categories-item{
    border-radius: 12px;
}
.header-catalog-categories  .categories-item-link{
    display: none;
}

.header-catalog-categories .categories-item-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 120%;
}
.header-catalog-categories .categories-item-icon{
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    min-width: unset;
}

.header-catalog-categories .categories-item-ellips{
    width: 120px;
    height: 120px;
    right: -37px;
    bottom: -73px;
}

.header-catalog-menu{
    max-width: 491px;
}
.header-catalog-menu ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}
.header-catalog-nav ul{
    display: flex;
    flex-direction: column;
    gap: 17px;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    min-width: 233px
}

.header-catalog-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
}
.header-catalog-contacts{
    display: flex;
    gap: 40px;
}
.header-catalog-contacts-item span{
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 12px;
    color: #8996A4;
}
.header-catalog-contacts-item  a{
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    color: #313131;
}
.header-catalog-bottom .socials-list a{
    background: #EFF6FF;
}



@media (max-width: 1920px) {
    .header-catalog-burger{
		width: 44px;
		height: 44px;
	}
    .header-catalog-burger span:first-child{
        top: 16px;
    }
    .header-catalog-burger span:last-child{
        bottom: 16px;
    }
    .header-catalog-burger.active span:first-child{
        top: 20px;
    }
    .header-catalog-burger.active span:last-child{
        bottom: 22px;
    }

    .header-catalog-dropdown{
        top: 92px;
        box-shadow: -4px 4px 12px 0px #00204633;
        padding: 40px 0;
    }
    .header-catalog-top{
        gap: 44px;
        margin-bottom: 60px;
    }
    .header-catalog-top h3{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .header-catalog-categories{
        max-width: 387px;
    }
    .header-catalog-categories .categories-list{
        gap: 12px;
    }
     .header-catalog-categories .categories-item{
        min-height: unset;
     }
    .header-catalog-categories .categories-item-content{
        padding: 16px 12px;
        font-size: 14px;
    }
    .header-catalog-categories .categories-item-icon{
        width: 40px;
        height: 40px;
    }
    .header-catalog-categories .categories-item-ellips{
        width: 95px;
        height: 95px;
        right: -42px;
        bottom: -52px;
    }
    .header-catalog-menu ul{
        font-size: 16px;
        gap: 12px;
    }
    .header-catalog-nav ul{
        font-size: 24px;
        gap: 16px;
    }
    .header-catalog-contacts-item span{
        font-size: 16px;
    }
    .header-catalog-contacts-item a{
        font-size: 24px;
    }
}
@media (max-width: 1130px){
	.header-catalog-burger{
		display: none;
	}
    .header-catalog-dropdown{
        display: none;
    }
}

