
.header{
	/* box-shadow: -4px 4px 12px 0px rgba(0, 32, 70, 0.2); */
	border-bottom: 1px solid #C7D2DE;
}
.header-top{
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	min-height: 120px;
}
.header-logo{
	width: 20%;
	min-width: 229px;
	/* max-height: 60px; */
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
}
.header-logo img{
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
.header-search{
	width: 621px;
}
.mobile-search-btn{
	display: none;
}
.header-search-form{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	gap: 8px;
	background: #005DC5;
	border-radius: 8px;
	padding: 4px 8px 4px 4px;
}
.header-search input{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	padding: 14px 20px;
	border-radius: 6px;
	font-size: 20px;
	font-weight: 400;

}
.header-search input::placeholder{
	color: #8A8A8A;
}
.header-search button{
	width: 33px;
	height: 32px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
}


.header-contacts{
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-weight: 500;
	font-size: 20px;
	color: #313131;
	margin-right: 20px;
}
.header-contacts a{
	white-space: nowrap;
	display: flex;
	align-items: center;
	gap: 4px;
}
.header-contacts a svg{
	width: 22px;
	height: 24px;
}

.header-social{
	width: 120px;
	margin-right: 20px;
	flex-shrink: 0;
	color: #8A8A8A;
}
.header-lang{
	margin-right: 20px;
}
.header-lang span{
	display: block;
	font-size: 20px;
	color: #313131;
}

.header-bottom{
	padding: 12px 0;

}
.header-menu{
	display: flex;
	align-items: center;
	gap: 40px;
	color: #313131;
	font-size: 20px;
	font-weight: 500;

}

.header-burger{
	flex-shrink: 0;
	width: 44px;
	height: 44px;
	background-color: #005DC5;
	border-radius: 4px;
	cursor: pointer;
	display: none;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1920px) {
	.header-logo{
		max-height: 60px;
	}
	.header-top{
		padding: 16px 0;
		min-height: 92px;
	}
	.header-contacts{
		font-size: 16px;
		margin-right: 0;
	}
	.header-contacts a svg{
		width: 16px;
		height: 16px;
	}
	.header-contacts svg path{
		fill: #C7D2DE;
		stroke: #C7D2DE;
	}
	.header-contacts .mail svg rect{
		stroke: #C7D2DE;
		fill: #C7D2DE;
	}
	.header-contacts .mail svg path{
		stroke: #FFF;
	}
	.header-social{
		width: 48px;
		height: 48px;
		border-radius: 4px;
		background: #EFF6FF;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 0;
	}
	.header-social span{
		display: none;
	}
	.header-social svg path{
		fill: #005DC5;
	} 
	.header-search-form{
		height: 48px;
		border-radius: 4px;
	}
	.header-search input{
		border-radius: 2px;
		padding: 10px 20px;
	}
}
@media (max-width: 1130px){
	.header{
		border-bottom: none;
	}
	.header-contacts,
	.header-social,
	.language-switcher,
	.header-bottom{
		display: none;
	}
	.header-top{
		padding: 12px 0;
		min-height: 68px;
	}
	.header-burger{
		display: flex;
	}
	.header-search-form{
		height: 44px;
	}
	.header-search input{
		padding: 10px 20px;
	}
}


@media (max-width: 576px){
	.header-top{
		gap: 8px;
		padding: 8px 0;
		transition: padding 0.3s ease-in-out;
	}
	.header-top.active{
		padding-bottom: 50px;
	}
	.mobile-search-btn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 44px;
		background-color: #C7D2DE;
		border-radius: 4px;
		cursor: pointer;
		margin-left: auto;
	}
	.header-search{
		position: relative;
	}
	.mobile-search-close{
		display: none;
	}
	.mobile-search-btn.active .mobile-search-open{
		display: none;
	}
	.mobile-search-btn.active .mobile-search-close{
		display: block;

	}
	.header-search-form{
		width: calc(100vw - 30px);
		position: absolute;
		top: 72px;
		right: -52px;
		z-index: 10;
		transition: right 0.3s ease-in-out;
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s ease-in-out;

	}
	.header-search-form.active{
		max-height: 44px;
		opacity: 1;
		pointer-events: all;
	}
	
}