.news{
    padding: 60px 0;
}
.news-heading{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}
.news-heading .btn{
    /* flex-grow: 1; */
}
.news-tabs{
    display: flex;
    align-items: center;
}
.news-tab{
    cursor: pointer;
    font-size: 20px;
    line-height: 120%;
    color: #8A8A8A;
    margin-right: 40px;
    padding-right: 40px;
    border-right: 1px solid #BDBDBD;
    transition: all .3s ease;

}
.news-tab:last-child{
    /* margin-right: 0;
    padding-right: 0; */
    border-right: none;
}
.news-tab h2{
    color: #BDBDBD;
}
.news-tab.active h2{
    color: #313131;
}
.news-tab-all{
    display: none;
}
.news-tab-all.active{
    display: block;
}
.news-items{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.news-items.active{
    display: grid;
}
.news-item{
    min-height: 240px;
    border-radius: 20px;
    overflow: hidden;
    background: #EFF6FF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}
.news-item:first-child{
    grid-column: 1/3;
    grid-row: 1/4;
    padding: 40px;
    min-height: 460px;
    position: relative;
}
.news-item:first-child::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(1, 21, 46, 0) 0%, #01152E 100%);
}
.news-item:first-child h3{
    color: #FFF;
    
}
.news-item:first-child p{
    font-size: 20px;
    color: #D5D5D5;
}

.news-item h3{
    color: #313131;
   
}
.news-item p{
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}
.news-text{
   position: relative;
    z-index: 2;
}
.news-item-top{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 16px;
    position: relative;
    z-index: 2;
}
.news-date{
    font-size: 20px;
    color: #8A8A8A;
    padding: 8px 12px;
    border-radius: 12px;
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    background: #EFF6FF;
    line-height: normal;
}
.news-item .news-date{
    background: #FFFFFF;
}
.news-type{
    font-size: 20px;
    color: #027EB1;
    background: #DBF3FC;
    padding: 8px 12px;
    border-radius: 12px;
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    line-height: normal;
}
.article-type{
    background: #FFADB3;
    color: #E10010;
}
.news-item h4{
    color: #002046;
     display: -webkit-box;
    -webkit-line-clamp: 6; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 1920px) {
    .news{
        padding: 40px 0;
    }
    .news-heading{
        margin-bottom: 40px;
    }
    .news-items{
        gap: 20px;
    }
     .news-item{
        min-height: 227px;
    }
    .news-item h4{
        -webkit-line-clamp: 5;
    }
}

@media (max-width: 1195px){
    .news-items{
        grid-template-columns: repeat(2, 1fr);
    }
    .news-item:first-child{
        grid-column: 1/3;
        grid-row: unset;
        padding: 40px;
    }
    .news-tab h2{
        font-size: 40px;
    }
   
}

@media (max-width: 767px){
    .news-items{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .news-item:first-child{
        grid-column: 1/3;
        grid-row: unset;
        padding: 40px;
    }
    .news-tab h2{
        font-size: 30px;
    }
    
}

@media (max-width: 576px){
    .news{
        padding-top: 30px;
    }
    .news-heading{
        margin-bottom: 30px;
    }
    .news-tab h2{
        /* font-size: 20px; */
    }
    .news-tab{
        margin-right: 20px;
        padding-right: 20px;
    }
    .news-tab:last-child{
        margin-right: 0;
        padding-right: 0;
    }
    .news-item:first-child{
        padding: 20px;
    }
    .news-item-top{
        gap: 8px;
    }
    .news-date{
        font-size: 12px;
        border-radius: 4px;
        height: 30px;
    }
    .news-type{
        font-size: 12px;
        border-radius: 4px;
        height: 30px;
    }

    .news-item{
        border-radius: 12px;
        min-height: 240px;
    }
    .news-item:first-child{
        min-height: 460px;
    }
    .news-item:first-child p{
        font-size: 14px;
    }

    .news-item h4{
        font-size: 12px;
    }
}