.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.pagination li{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.pagination li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #EFF6FF;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #313131;
    transition: all .3s ease;
}
.pagination li.active a{
    background-color: #005DC5;
    border-color: #005DC5;
    color: #FFF;
}
.pagination .prev-page,
.pagination .next-page{
   display: none;
}
.pagination .prev-page.active,
.pagination .next-page.active{
    display: flex;
}
.pagination .prev-page.active a{
    background: transparent;
}
.pagination .next-page.active a{
    background: transparent;
}   

@media (max-width:1920px) {
    .pagination{
        margin-bottom: 40px;
    }
}
@media (max-width: 576px) {
    .pagination{
        margin-top: 32px;
        margin-bottom: 20px;
    }
    .pagination li{
        width: 36px;
        height: 36px;
    }

    .pagination li a{
        font-size: 14px;
    }
}