.partners-addresses-tabs{
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.partners-address-tab{
    background: #EFF6FF;
    padding: 16px 40px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    color: #005DC5;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.partners-address-tab.active{
    background: #005DC5;
    color: #fff;
}
.partners-addresses-content{
    display: none;
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding-bottom: 30px;
}
.partners-addresses-content.active{
    display: grid;
}
.partners-address-item{
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #C7D2DE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 97px;

}
.partner-contacts{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.partner-contacts a{
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 4px;
    font-size: 20px;

}
.partner-contacts p{
    font-size: 20px;
    color: #313131;
    /* min-width: 240px; */
    max-width: 385px;
    text-align: right
}
.address-link{
    display: flex;
    align-items: center;
    gap: 10px;
}
.address-link span{
    font-size: 24px;
    font-weight: 500;
    color: #005DC5;
    border-bottom: 1px solid #005DC5;
}

.partners-promo{
    margin: 30px 0 60px;
    padding: 70px 60px;
    background: #EFF6FF;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}   
.partners-promo h2{
    margin-bottom: 40px;
}
.partners-promo-img{
    width: 260px;
    height: 260px;
    flex-shrink: 0;
}

.partners-promo-img img{
    width: 100%;
    height: 100%;
}

@media (max-width: 1920px) {
    .partners-addresses-tabs{
        margin-bottom: 40px;
    }
    .partners-addresses-content{
        padding-bottom: 20px;
    }
    .partners-address-item{
        gap: 86px;
    }
    .partners-promo{
        margin: 20px 0 40px;
        padding: 60px;
    }
    .partners-promo-img{
        width: 220px;
        height: 220px;
    }
}
@media (max-width: 767px){
   .partners-addresses-content{
    grid-template-columns: 1fr;
    gap: 16px;
   }
   .partners-promo{
    padding: 20px;
   }
   .partners-promo-img{
        width: 157px;
        height: 157px;
   }
}

@media (max-width: 575px){
   .back-link{
    font-size: 16px;
   }
    .partners-addresses-tabs{
        margin: 32px 0px;
        gap: 12px;
    }
    .partners-address-tab{
        font-size: 12px;
        padding: 13px 23px 12px;
    }
    .address-link span{
        font-size: 20px;
    }
    .partner-contacts{
        gap: 13px;
        flex-direction: column;
    }
    .partner-contacts a{
        font-size: 16px;
    }
    .partner-contacts p{
        font-size: 16px;
        max-width: 100%;
        text-align: left;
    }
    .partners-address-item{
        gap: 75px;
    }
    .partners-addresses-content{
        padding-bottom: 20px;
    }
    .partners-promo{
        flex-direction: column-reverse;
        align-items: flex-start;
        margin: 20px 0 40px;
    }
    .partners-promo h2{
        margin-bottom: 20px;
    }
}