.product-info{
    display: flex;
    background: #EFF6FF;
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
    margin-bottom: 60px;
    margin-top: 40px;
    gap: 40px;
}
.product-info-content{
    /* width: 49%; */
    /* max-width: 877px; */
    width: calc(100% - 579px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 85px;
    position: relative;
    z-index: 1;
}
.product-info-groups{
    max-width: 400px;
}
.product-info-content h1{
    margin-bottom: 0;
}
.product-info-groups h4{
    color: #8996A4;
}

.product-info-groups-text{
    font-size: 24px;
    color: #002046;
    line-height: 140%;
    padding-bottom: 24px;
    border-bottom: 1px solid #C7D2DE;
    margin-bottom: 24px;
}
.product-info-text{
    max-width: 579px;
}
.product-info-text p{
    margin-bottom: 20px;
}
.product-info-text p:last-child{
    padding-bottom: 0;
}

.product-info-btns{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
}

.product-info-img{
    width: 579px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-info-img img{
    max-width: 85%;
    height: 100%;
    max-height: 630px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.product-info-img-bg{
    position: absolute;
    right: -60px;
    bottom: -269px;
    width: 760px;
    aspect-ratio: 1/1;
    background: no-repeat center/cover url(../assets/imgs/element.png);
}

.product-info-img-ellipse,
.product-info-img-ellipse2,
.product-info-img-ellipse3{
    width: 52px;
    height: 52px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(171, 231, 255, 0.4) 95.67%);
    border-radius: 50%;
    position: absolute;
    top: -24px;
    left: -15px;
    z-index: 0;
}

.product-info-img-ellipse2{
    width: 100px;
    height: 100px;
    top: 89px;
    right: 61px;
    left: auto;
}
.product-info-img-ellipse3{
    width: 120px;
    height: 120px;
    top: auto;
    bottom: -35px;
    left: 0px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(171, 231, 255, 0.8) 95.67%);

}


.product-info-bottom{
    padding: 60px 0;
}
.product-info-bottom-title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 20px;
}
.product-info-bottom-title h2{
    margin-bottom: 0;
    max-width: 342px;
}
.product-tabs{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.product-tabs__item{
    padding: 16px 40px;
    border-radius: 100px;
    background: #EFF6FF;
    font-size: 20px;
    font-weight: 500;
    color: #005DC5;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s ease;
}
.product-tabs__item.active{
    background: #005DC5;
    color: #fff;
}
.product-tabs__content{
    display: none;
}
.product-tabs__content.active{
    display: block;
}
.product-tabs__content ul{
    padding-bottom: 12px;
}
.product-tabs__content ul li{
    font-size: 20px;
    color: #313131;
    line-height: 120%;
    margin-bottom: 12px;
}
.product-tabs__content ul li span{
    display: block;
    padding-top: 12px;
}
.instruction-acc__title{
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #C7D2DE;
    cursor: pointer;
}
.instruction-acc__item:last-child{
    border-bottom: 1px solid #C7D2DE;
}
.instruction-acc__title h3{
    margin-bottom: 0;
}
.instruction-acc__title span{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #005DC5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    flex-shrink: 0;
}
.instruction-acc__title.active span{
    transform: rotate(45deg);
}
.instruction-acc__content{
    display: none;
    padding-bottom: 20px;
}
.product-application-content{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 24px;
    gap: 24px;
    overflow-x: auto;
}
.product-application-table{
    max-width: 875px;
    min-width: 800px;
}
.product-application-table-row{
    display: grid;
    grid-template-columns: 282px 1fr;
    gap: 24px;
    margin-bottom: 20px;
}
.product-application-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.product-application-icon{
    width: 78px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #002046;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-application-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-application-text p{
    margin-bottom: 0;
}
.product-application-table-text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.product-application-table-text h4{
    padding: 27px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    /* height: 78px; */
    margin-bottom: 0;
}
.product-application-table-text span{
    color: #005DC5;
    font-size: 32px;
}
.product-application-img {
    width: 491px;
    height: 450px;
    /* aspect-ratio: 491/450; */
    border-radius: 20px;
    overflow: hidden;
}
.product-application-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1920px) {
    .product-info{
        margin-bottom: 20px;
    }
    .product-info-content h1{
        font-size: 48px;
    }
    .product-info-content{
        width: calc(100% - 484px);
        gap: 58px;
    }
    .product-info-img{
        width: 484px;
    }
    .product-info-groups .products-item-icons{
        width: 328px;
    }
    .product-info-bottom{
        padding-top: 40px;
    }
    .product-tabs{
        gap: 12px;
    }
    .product-tabs__item{
        letter-spacing: -1px;
    }
    .product-info-bottom-title{
        margin-bottom: 40px;
    }
    .product-info-bottom-title h2 {
        max-width: 385px;
        padding-right: 100px;
    }
    .product-application-img{
        width: 384px;
        height: 400px;
    }
    .product-application-table-row{
        margin-bottom: 12px;
    }
    .product-application-table-row h3{
        font-size: 24px;
    }
    .product-application-icon{
        width: 60px;
        height: 60px;
    }
    .product-application-table-text h4{
        font-size: 20px;
    }
    .instruction-acc__title{
        padding: 20px 0;
    }
    .instruction-acc__title h3{
        font-size: 24px;
    }
}
@media (max-width: 1440px) {
    .product-info-img img{
        display: block;
        margin-left: auto;
    }
    .product-info-img-ellipse2{
        right: 20px;
    }
}
@media (max-width: 1100px) {

    .product-application-img {
        display: none;
    }
    
}
@media (max-width: 995px) {
    .product-info{
        flex-direction: column;
    }
    .product-info-content{
        width: 100%;
        gap: 40px;
    }
    .product-info-img{
        width: 100%;
        aspect-ratio: 1/1;
        min-height: 440px;
    }
    .product-info-bottom-title{
        flex-direction: column;
        align-items: flex-start;
    }
    .product-info-bottom-title h2{
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .product-info-bottom-title h2{
        font-size: 28px;
    }


}
@media (max-width: 576px) {
    .product-info{
        margin-top: 20px;
        padding: 20px;
        margin-bottom: 40px;
    }
    .product-info-content{
         gap: 32px;
    }
    .product-info-content h1{
        font-size: 32px;
    }
    .product-info-conten h4{
        font-size: 16px;
        margin-bottom: 8px;
    }
    .product-info-groups-text{
        font-size: 18px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .products-item-icons{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .products-item-icons div{
        min-width: 48px;
    }
    .product-info-img-bg{
        width: calc(100% + 32px);
        bottom: -102px;
        right: -32px;
    }
    .product-info-img-ellipse{
        top: 0;
        left: 0;
    }
    .product-info-img-ellipse2{
        top: 26px;
        right: -20px;
        width: 80px;
        height: 80px;
    }
    .product-info-img-ellipse3{
        width: 92px;
        height: 92px;
        bottom: -20px;
        left: 38px;
        z-index: 10;
    }
    .product-info-bottom{
        padding: 40px 0;
    }
    .product-info-bottom-title{
        gap: 20px;
    }
    .product-tabs{
        gap: 12px;
    }
    .product-tabs__item{
        padding: 12px 20px;
        font-size: 16px;
    }
    .product-tabs__content ul li{
        font-size: 12px;

    }
    .product-info-bottom-title{
        margin-bottom: 32px;
    }
    .product-application-content{
        margin-top: 8px;
    }
    .product-application-table-row{
        grid-template-columns:  156px 1fr;
    }
    .product-application-icon{
        width: 48px;
        height: 48px;
    }
    .product-application-table-text h4{
        padding: 11px 8px;
    }
    .product-application-table{
        min-width: 450px;
    }
    .product-application-table-text h4{
        gap: 12px;
    }
    .product-application-table-text span{
        font-size: 20px;
    }
    .instruction-acc__title span{
        width: 32px;
        height: 32px;
    }
     .instruction-acc__title span svg{
        width: 20px;
        height: 20px;
     }
}