.where-to-buy{
    padding: 60px 0;
}
.where-to-buy-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.where-to-buy-item{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background: #EFF6FF;
    background: linear-gradient(195.35deg,#EFF6FF 10%, #DBF3FC 15.83%, rgba(171, 231, 255, 0.992157) 74.41%, #82DCFF 89.23%);
    background-size: 100% 300%;
    background-position: 0% 0%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 76px;
    transition: background-position  .3s ease;
}
.where-to-buy-item:hover{
    background-position: 0% 90%;
}
.where-to-buy-item h2{
    color: #002046;
    margin-bottom: 0;
}
.where-to-buy-item a{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 500;
    transition: all .3s ease;
}
.where-to-buy-item:hover a{
    opacity: .5;
}

.back-link{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 8px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 120%;
    color: #8996A4 !important;
}
@media (max-width: 1920px) {
    .where-to-buy{
        padding: 20px 0 40px;
    }
    .where-to-buy-items{
        gap: 20px;
    }
    .where-to-buy-item{
        gap: 92px;
    }
}

@media (max-width: 767px){
    .where-to-buy-items{
        grid-template-columns: 1fr;
        gap: 16px;
    }
    
}

@media (max-width: 576px){
    .where-to-buy{
        padding: 20px 0 40px;
    }
    .where-to-buy-item{
        padding: 20px;
        min-height: 200px;
        gap: 72px;
    }
    .where-to-buy-item a{
        font-size: 14px;
    }
    .where-to-buy-item a span{
        padding-bottom: 0px;
    }
    .where-to-buy-item a svg{
        width: 20px;
        height: 20px;
    }
}